//Created by oscar on 13/06/16.
doctype html
html
  head

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")

  body
    .container
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            a.navbar-brand Notification
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href="..") Create
              li
                a(href="..") Show
              li
                a(href="..") Change
    block content




