extends layout

block content
    div.row
        div.col-md-4.text-center
            button.btn.btn-default Activas
        div.col-md-4.text-center
            button.btn.btn-default Proceso
        div.col-md-4.text-center
            button.btn.btn-default Concluidas